<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<main>
    <div class="container">
        <header>
            <a href="/" class="text-dark text-decoration-none">
                <div class="fs-2">
                    <span>Мақал-мәтелдер</span>
                </div>
            </a>
        </header>
        <div class="bg-light rounded-4" id="title-box">
            <div class="container-fluid py-3">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer border-top pt-2">
            <div class="container">
                <a href="https://github.com/c71n93/maqal" 
                   class="btn btn-sm btn-outline-secondary">
                   GitHub
                </a>
            </div>
        </footer>
    </div>
</main>
</body>
</html>
