{% extends "base_page.html" %}

{% block page-title %}
Пословицы на казахском
{% endblock %}

{% block page-lead %}
"Мақал-мәтелдер" переводится с казахского как "пословицы и поговорки". 
Этот сайт является базой с пословицами на казахском языке с переводом на русский.
Пословицы отражают колорит языка и культуры, а их изучение идеально подходит для более глубокого погружения в язык.
<br>
На этом сайте можно регистрироваться, добавлять свои пословицы и смотреть пословицы других пользователей. 
Присоединяйтесь — добавляйте пословицы и делитесь находками!
{% endblock %}

{% block content %}
<div class="container px-2 py-3" id="project-contents">
    <h2 class="border-bottom">Список всех пословиц</h2>
    {% if user.is_authenticated %}
    <!-- Add proverb button -->
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'add_proverb' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Добавить пословицу
        </a>
    </div>
    {% else %}
    <!-- Log in request -->
    <div class="alert alert-info d-flex align-items-center justify-content-between">
        <div>
            <i class="bi bi-info-circle me-2"></i>
            Чтобы добавлять пословицы, пожалуйста, авторизуйтесь
        </div>
        <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-outline-primary btn-sm">
            Войти
        </a>
    </div>
    {% endif %}
    <div class="container px-2" id="proverbs-table">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col" class="py-3">#</th>
                  <th scope="col" class="py-3">Мақал-мәтел</th>
                  <th scope="col" class="py-3">Перевод</th>
                  <th scope="col" class="py-3">Автор</th>
                  <th scope="col" class="py-3">Дата добавления</th>
                </tr>
              </thead>
              <tbody>
                {% for cnt, kazakh_text, russian_text, author, modified_at in proverbs %}
                <tr>
                    <td class="py-3">{{ cnt }}</td>
                    <td class="py-3">{{ kazakh_text }}</td>
                    <td class="py-3">{{ russian_text }}</td>
                    <td class="py-3">{{ author }}</td>
                    <td class="py-3">{{ modified_at }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
</div>
{% endblock %}
